/***************** GRAPHIC CHART *****************/


/* Color Theme Swatches in Hex */


/*! définir des variables  */

.color-theme_280px-Glass_of_Red_Wine_with_a_bottle_of_Red_Wine_-_Evan_Swigart-1-hex {
    color: #511201;
}

.color-theme_280px-Glass_of_Red_Wine_with_a_bottle_of_Red_Wine_-_Evan_Swigart-2-hex {
    color: #AD160F;
}

.color-theme_280px-Glass_of_Red_Wine_with_a_bottle_of_Red_Wine_-_Evan_Swigart-3-hex {
    color: #F0F2F2;
}

.color-theme_280px-Glass_of_Red_Wine_with_a_bottle_of_Red_Wine_-_Evan_Swigart-4-hex {
    color: #F8E8E8;
}

.color-theme_280px-Glass_of_Red_Wine_with_a_bottle_of_Red_Wine_-_Evan_Swigart-5-hex {
    color: #F2E5BD;
}


/* Font */

@font-face {
    font-family: "Playfair Display', serif";
    src: url("./Font/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("ttf"), url("./Font/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("ttf");
}


/****************** GLOBAL *****************/

html,
body {
    background-color: #030303;
    font-family: 'Playfair Display', serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


/****************** CONTENT PAGE *****************/


/*** Header ***/

header {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-bottom: 50px;
    z-index: 3000;
    place-content: center flex-start;
    align-items: center;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
}


/* Title  */

body>header>a>h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-left: 50px;
    z-index: 3000;
    letter-spacing: 5px;
    font-size: 1rem;
    transition: color 30ms ease-in;
    -webkit-transition: color 30ms ease-in;
    -moz-transition: color 30ms ease-in;
    -ms-transition: color 30ms ease-in;
    -o-transition: color 30ms ease-in;
}

body>header>a>h3:hover,
body>header>a>h3:active,
body>header>a>h3:target {
    letter-spacing: 4.5px;
    font-weight: 600;
    color: #F2E5BD;
    transition: color 300ms ease-in;
    -webkit-transition: color 300ms ease-in;
    -moz-transition: color 300ms ease-in;
    -ms-transition: color 300ms ease-in;
    -o-transition: color 300ms ease-in;
}


/* Bloc- Header "Download" */

body>header>a>span>img {
    color: #AD160F;
    height: 60px;
    z-index: 3000;
    transition: transform 300ms ease-in;
    -webkit-transition: transform 300ms ease-in;
    -moz-transition: transform 300ms ease-in;
    -ms-transition: transform 300ms ease-in;
    -o-transition: transform 300ms ease-in;
}

body>header>a>span>img:hover {
    color: #AD160F;
    height: 60px;
    z-index: 3000;
    transform: scale(-0.5);
    -webkit-transform: scale(-0.5);
    -moz-transform: scale(-0.5);
    -ms-transform: scale(-0.5);
    -o-transform: scale(-0.5);
}

body>header>a {
    text-decoration: none;
    display: flex;
    align-items: center;
}


/*  Bloc "?" */

header::before {
    content: '?';
    width: 6px;
    text-align: justify;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 20px 20px;
    align-content: center;
    margin: 3px;
    font-size: 3rem;
    color: #000000;
    background-color: #ffffff;
    text-decoration: underline #511201 10px;
    height: 6px;
    position: absolute;
    top: 9px;
    right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 3;
}


/*** CONTENT ***/


/* Bloc Global  */

section {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: flex-start;
    padding: 50px;
    align-content: center;
    margin: 250px 5px 0 5px;
    width: 97vw;
    height: 100vh;
    transition: all 1s ease-in 300ms;
    -webkit-transition: all 1s ease-in 300ms;
    -moz-transition: all 1s ease-in 300ms;
    -ms-transition: all 1s ease-in 300ms;
    -o-transition: all 1s ease-in 300ms;
}

body>div>section:nth-child(2) {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: flex-start;
    flex-direction: column !important;
    padding: 20px;
    align-content: center;
    margin: 250px 5px 150px 5px;
    width: 97vw;
    height: 100vh;
    transition: all 1s ease-in 300ms;
    -webkit-transition: all 1s ease-in 300ms;
    -moz-transition: all 1s ease-in 300ms;
    -ms-transition: all 1s ease-in 300ms;
    -o-transition: all 1s ease-in 300ms;
}


/* Hover Arrow => Affichage Bloc info */

header:hover::before {
    content: 'Problématique : Développer une application de partage des connaissances - Pour les amateurs d\'œnologie, les producteur ou simple curieux ';
    width: 456px;
    text-align: justify;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 20px 20px;
    align-content: center;
    margin: 3px;
    font-size: 3rem;
    color: #000000;
    background-color: #ffffff;
    text-decoration: underline #511201 10px;
    height: 575px;
    position: absolute;
    top: 42px;
    right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 3000;
}


/* Bloc Right "vin naturel" */

section::after {
    content: "vin naturel";
    box-shadow: rgb(242, 229, 189) 0px 0px 0px 100px inset;
    font-weight: 900;
    display: flex;
    place-content: center;
    place-items: center;
    padding: 10px 40px;
    transform: rotate(270deg);
    margin: 3px;
    font-size: 3rem;
    color: rgb(173, 22, 15);
    height: 10px;
    letter-spacing: 10px;
    position: fixed;
    bottom: 188px;
    right: -190px;
    z-index: 3;
}


/* Container Parent  */

.WhiteBloc,
.DarkBloc {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
    justify-items: center;
    align-items: flex-start;
    padding: 10px 30px;
    opacity: 0.20 !important;
    flex-wrap: wrap;
    transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
}

.WhiteBloc:hover,
.DarkBloc:hover {
    opacity: 1!important;
    transition: All 30ms ease-in;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    -webkit-transition: All 30ms ease-in;
    -moz-transition: All 30ms ease-in;
    -ms-transition: All 30ms ease-in;
    -o-transition: All 30ms ease-in;
}


/* Right */

.DarkBloc {
    background-color: #F2E5BD;
    /* width: 100%; */
}


/*** Text  ***/


/*! définir des variables  */


/* Title  */

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 8rem;
    color: #AD160F;
    font-weight: 900;
    line-height: 60px;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 4rem;
    color: #F2E5BD;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    color: #F0F2F2;
}


/* Paragraphe  */

p {
    color: #F2E5BD;
    font-size: 1rem;
    font-weight: 400;
    padding: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
}

p.explain {
    position: absolute;
    top: 140px;
    width: 100%;
    text-align: center;
    font-size: 1rem;
}


/* link */

body>div>section:nth-child(1)>div.DarkBloc>div>ul:nth-child(3)>li:nth-child(1)>ol:nth-child(3)>a,
body>div>section:nth-child(1)>div.DarkBloc>div>ul:nth-child(3)>li:nth-child(1)>ol:nth-child(2)>a {
    text-decoration: none;
    color: #AD160F;
    transition: all 30ms ease-in;
    -webkit-transition: all 30ms ease-in;
    -moz-transition: all 30ms ease-in;
    -ms-transition: all 30ms ease-in;
    -o-transition: all 30ms ease-in;
}

body>div>section:nth-child(1)>div.DarkBloc>div>ul:nth-child(3)>li:nth-child(1)>ol:nth-child(3)>a:hover,
body>div>section:nth-child(1)>div.DarkBloc>div>ul:nth-child(3)>li:nth-child(1)>ol:nth-child(2)>a:hover {
    font-weight: 700;
}


/* bolder */

p2 {
    font-size: 1rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

p3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bolder;
}

.DarkBloc>h1 {
    font-family: 'Playfair Display', serif;
    font-size: 5.5rem;
    color: #AD160F;
    font-weight: 900;
}

.DarkBloc>h2 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    color: #F0F2F2;
}

.DarkBloc>h3 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 4rem;
    color: #511201;
}

.DarkBloc>p {
    font-size: 1rem;
    font-weight: 500;
    color: #511201;
}

img {
    padding: 20px 0;
    width: 80%;
}

.Info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.Info>ul {
    color: #F2E5BD;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    width: 116%;
}

.Info>ul>li {
    color: #000000;
    padding: 5px 10px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    list-style: none;
    border-left: 1px solid #ad160f;
    border-right: unset;
    margin-left: 80px;
}


/***   Logo + Button (Liquid) ***/


/* logo  */

.logo_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 50px 0 200px 0;
}

.logo_row>.logo {
    width: 150px;
    height: 150px;
    padding: 20px;
    margin: 50px 10px;
}


/* liquid button  */

body>div>section:nth-child(2)>a {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
}


/*** Footer  ***/

footer {
    background-color: #000000;
    width: 100%;
    height: 40px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    position: fixed;
    bottom: 0px;
}

ul {
    color: #F2E5BD;
    padding: 0 10px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

li {
    color: #f2e5bd46;
    padding: 0 10px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    list-style: none;
    border-right: 1px solid #ad160f;
}


/****************** RESPONSIVE *****************/

@media screen and (max-width: 960px) {
    body>header>a>h3 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        margin-left: 25px;
        z-index: 3000;
        letter-spacing: 3px;
    }
    /* Global  */
    section {
        position: absolute;
        top: 100px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 20px;
        width: unset;
        height: unset;
        transition: all 1s ease-in 300ms;
        -webkit-transition: all 1s ease-in 300ms;
        -moz-transition: all 1s ease-in 300ms;
        -ms-transition: all 1s ease-in 300ms;
        -o-transition: all 1s ease-in 300ms;
    }
    /* TEST : Remove Opacity & Blur Effect on hover */
    /* Container Parent  */
    .WhiteBloc,
    .DarkBloc {
        opacity: 1;
        flex-wrap: wrap;
        filter: blur(0px);
        transition: all 1s ease-in;
        -webkit-transition: all 1s ease-in;
        -moz-transition: all 1s ease-in;
        -ms-transition: all 1s ease-in;
        -o-transition: all 1s ease-in;
        -webkit-filter: blur(0px);
    }
}

@media screen and (max-width: 1550px) {
    body>div>section:nth-child(2) {
        margin-top: 750px;
    }
}